html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

// ==============================================
// Estilos para Snackbar/Toast notifications
// ==============================================

.success-snackbar {
  .mdc-snackbar__surface {
    background-color: #4caf50 !important;
  }

  .mat-mdc-snack-bar-label {
    color: white !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
  }
}

.error-snackbar {
  .mdc-snackbar__surface {
    background-color: #f44336 !important;
  }

  .mat-mdc-snack-bar-label {
    color: white !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
  }
}

// ======================
// Estilos Globales Componentes
// ======================

mat-card {
  border-radius: 12px !important;
}

// ======================
// Estilos para Dialog
// ======================

.mat-mdc-dialog-container {
  .mdc-dialog__surface {
    border-radius: 12px !important;
  }
}
